# latex
*.aux
*.bbl
*.blg
*.log
*.bcf
*.toc
*.run.xml
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*~

# general dirs and files
lib
bin
obj
tags
build
deps

# matlab
*.mat
*.mex
*.o
octave-workspace

# misc
.ropeproject
